<div id="profile-content">
  <div id="summoner-header" class="well well-sm">
    <div class="left-column">
    	<h2>Terenoth</h2>
    	<h4>Level 30 - Europe West</h4>
    </div>
    <div class="middle-column">
    	<h1>3.4/5.3/10.9</h1>
    	<h3>100 Wins - 81 Losses</h3>
    </div>
    <div class="right-column">
    	<div class="col-sm-6 col-md-3">
    		Facebook
    	</div>
    	<div class="col-sm-6 col-md-3">
    		Email
    	</div>
    </div>
  </div>  

  <ul class="nav nav-tabs">
    <li class="active"><a>General</a></li>
    <li><a>Ranked stats</a></li>
    <li><a>Recent matches</a></li>
  </ul>
</div>