<div id="profile-content" ng-controller="ProfileCtrl">
    <div id="summoner-header" class="well well-sm">
        <div class="left-column">
        	<h2>{{ playerData.summoner.name }}</h2>
            <h4>Level {{ playerData.summoner.summonerLevel }} - {{ playerData.server }}</h4>
        </div>
        <div class="middle-column">
        	<h1>{{ getAverage('TOTAL_CHAMPION_KILLS') }}/{{ getAverage('TOTAL_DEATHS_PER_SESSION') }}/{{ getAverage('TOTAL_ASSISTS') }}</h1>
            <h3>100 Wins - 81 Losses</h3>
        </div>
        <div class="right-column">
            <button id="fb-post" ng-click="publishSummoner()">
                Facebook
            </button>
        </div>
    </div>  

    <ul class="nav nav-tabs">
        <li class="active"><a>General</a></li>
        <li><a>Ranked stats</a></li>
        <li><a>Recent matches</a></li>
    </ul>
</div>